//    _   _   _   _     //
//   / \ / \ / \ / \    //
//  ( B | A | S | E )   //
//   \_/ \_/ \_/ \_/    //


//  Global Resets and Standards
// ----------------------------------------------------------------------------

*, *:before, *:after
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
	display: block

audio, canvas, video
	display: inline-block
	*display: inline
	*zoom: 1
	&:not([controls])
		display: none

figure
	margin: 0

html
	height: 100%
	width: 100%
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%

body
	font-family: $fontFamily
	font-size: 15px
	font-weight: 400
	margin: 0
	color: $textColor
	background-color: #fefff4
	-webkit-hyphens: auto
	-moz-hyphens: auto
	-ms-hyphens: auto
	hyphens: auto
	word-wrap: break-word
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased
	//-webkit-transform: translate3d(0,0,0)


// Links
// ----------------------------------------------------------------------------
a
	color: inherit
	text-decoration: underline
	&:hover
		color: inherit
		text-decoration: underline
	&:focus
		outline: none
	&:visited
		color: $linkColor
	img
		border: none

// Misc
// ----------------------------------------------------------------------------

::selection
	background: transparent
	color: #00E8FF

::-moz-selection
	background: transparent
	color: #00E8FF

.left
	float: left

.right
	float: right

.text-left
	text-align: left

.text-right
	text-align: right

.text-center
	text-align: center

.hidden
	display: none

.visible
	display: block

.highlight
	background: #ffff99

img
	width: auto
	height: auto
	max-width: 100%
	vertical-align: middle
	border: 0
	-ms-interpolation-mode: bicubic

#map_canvas 
	img, object, embed
		max-width: none

#googlemap img, object, embed
	max-width: none

button, input, select, textarea
	margin: 0
	font-size: 100%
	vertical-align: middle

button, input
	*overflow: visible
	line-height: normal

button::-moz-focus-inner, input::-moz-focus-inner
	padding: 0
	border: 0

button
	cursor: pointer
	-webkit-appearance: button

input
	&[type="button"], &[type="reset"], &[type="submit"]
		cursor: pointer
		-webkit-appearance: button
	&[type="search"]
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		-webkit-appearance: textfield
		&::-webkit-search-decoration, &::-webkit-search-cancel-button
			-webkit-appearance: none

textarea
	overflow: auto
	vertical-align: top

.clearfix
	*zoom: 1
	&:before
		display: table
		line-height: 0
		content: ""
	&:after
		display: table
		line-height: 0
		content: ""
		clear: both


// Type
// ----------------------------------------------------------------------------

@font-face
	font-family: "Gotham Book"
	src: url("../fonts/Gotham_Book.woff") format("woff")

@font-face
	font-family: "Gotham Medium"
	src: url("../fonts/Gotham_Medium.woff") format("woff")

@font-face
	font-family: "Gotham Bold"
	src: url("../fonts/Gotham_Bold.woff") format("woff")

p
	margin: 0 0 1.5em

.lead
	margin-bottom: 20px
	font-size: 21px
	font-weight: 200
	line-height: 30px

small
	font-size: 85%

strong
	font-weight: bold

em
	font-style: italic

cite
	font-style: normal

.muted
	color: $grayLight

.text-warning
	color: $red

.text-error
	color: $red

.text-info
	color: $lightBlue

.text-success
	color: $green


h1, h2, h3, h4, h5, h6
	font-family: $headingsFontFamily
	font-weight: $headingsFontWeight
	letter-spacing: 0.2em
	text-transform: uppercase
	text-rendering: optimizeLegibility
	line-height: 1
	margin-top: 0
	-webkit-font-smoothing: auto
	font-smoothing: auto

.tera
	font-size: 117px
	font-size: 6.5rem
	margin-bottom: 0.25385rem

.giga
	font-size: 90px
	font-size: 5rem
	margin-bottom: 0.33rem

.mega
	font-size: 72px
	font-size: 4rem
	margin-bottom: 0.4125rem

h1
	font-size: 60px
	font-size: 3.33333rem
	margin-bottom: 0.495rem

h2,
	font-size: 48px
	font-size: 2.66667rem
	margin-bottom: 0.61875rem

h3
	font-size: 36px
	font-size: 2rem
	margin-bottom: 0.825rem

h4
	font-size: 24px
	font-size: 1.33333rem
	margin-bottom: 1.2375rem

h5
	font-size: 14px
	font-size: 1rem
	margin-bottom: 1.65rem
// h5
// 	font-size: 21px
// 	font-size: 1.16667rem
// 	margin-bottom: 1.41429rem

h6
	font-size: 11px
	margin-bottom: 1.65rem


ul, ol
	padding: 0
	margin: 0 0 10px 25px

ul
	ul, ol
		margin-bottom: 0

ol
	ol, ul
		margin-bottom: 0

li
	line-height: 20px

ul.unstyled, ol.unstyled
	margin-left: 0
	list-style: none

dl
	margin-bottom: 20px

dt, dd
	line-height: 20px

dt
	font-weight: bold

dd
	margin-left: 10px

.dl-horizontal
	*zoom: 1
	&:before
		display: table
		line-height: 0
		content: ""
	&:after
		display: table
		line-height: 0
		content: ""
		clear: both
	dt
		float: left
		width: 160px
		overflow: hidden
		clear: left
		text-align: right
		text-overflow: ellipsis
		white-space: nowrap
	dd
		margin-left: 180px

hr
	margin: 50px 0
	border: 0
	border-top: 3px solid $hrColor
	clear: both

abbr
	&[title]
		cursor: help
		border-bottom: 1px dotted $grayLight

blockquote
	padding: 0 0 0 15px
	margin: 0 0 20px
	border-left: 5px solid $gray
	p
		margin-bottom: 0
		font-size: 16px
		font-weight: 300
		line-height: 25px

q
	&:before, &:after
		content: ""

blockquote
	&:before, &:after
		content: ""

address
	display: block
	margin-bottom: 20px
	font-style: normal
	line-height: 20px

code, pre
	padding: 0 3px 2px
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace
	font-size: 12px
	color: #333333
	-webkit-border-radius: 3px
	-moz-border-radius: 3px
	border-radius: 3px

code
	padding: 2px 4px
	color: #d14
	background-color: #f7f7f9
	border: 1px solid #e1e1e8

pre
	display: block
	padding: 9.5px
	margin: 0 0 10px
	font-size: 13px
	line-height: 20px
	word-break: break-all
	word-wrap: break-word
	white-space: pre
	white-space: pre-wrap
	background-color: #f5f5f5
	border: 1px solid #ccc
	border: 1px solid rgba(0, 0, 0, 0.15)
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	&.prettyprint
		margin-bottom: 20px
	code
		padding: 0
		color: inherit
		background-color: transparent
		border: 0

.pre-scrollable
	max-height: 340px
	overflow-y: scroll

.bordered
	min-height: 20px
	padding: 3em
	margin-bottom: 20px
	border: 4px solid $borderColor

.fade
	opacity: 0
	-webkit-transition: opacity 0.15s linear
	-moz-transition: opacity 0.15s linear
	-o-transition: opacity 0.15s linear
	transition: opacity 0.15s linear
	&.in
		opacity: 1

// Nav
// ----------------------------------------------------------------------------

.header
	position: fixed
	top: 0
	width: 100%
	height: $headerHeight
	color: $black
	z-index: 700
	&.main
		position: fixed
		top: 0
		left: 0
		z-index: 1000
	&.phone
		height: auto
		.container
			padding: 0 30px
	.container
		padding: 0
		#logo
			float: left
		#nav
			float: right
			ul
				list-style: none
				margin: 15px 0 0 0
				li
					list-style: inherit
					display: inline
					margin-left: 30px
					a
						color: $black
	#nav-btn 
		float: right
		padding-left: 15px
		border-left: 1px solid $grayLight
		span.i
			font-size: 3em
			cursor: pointer
	.menu li
		font-family: "Proxima Nova Bold"
		font-weight: 500
		font-size: 1.1em
	.phone-nav
		width: 100%
		height: 0
		overflow: hidden
		background: $yellow
		display: block
		+transition(.5s)
		ul
			padding: 2em 30px
			list-style: none
			margin: 0
			li
				list-style: inherit
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
				a
					color: $black
		&.open
			height: 180px



// Buttons
// ----------------------------------------------------------------------------

.btn
	display: block
	width: 100%
	max-width: 24em
	padding: 20px
	margin: 0 auto 1em
	border: 4px solid $primaryColor
	background: $primaryColor
	box-sizing: border-box
	font-weight: 500
	text-align: center
	color: white
	text-transform: uppercase
	text-decoration: none
	cursor: pointer
	+transition(0.3s)
	&:hover
		border: 4px solid $grayDark
		background-color: $grayDark
		color: #fcfcfc
		text-decoration: none
	&.active, &:active
		outline: 0
	&:visited
		color: white
	&.disabled, &[disabled]
		background: $gray
		border: 4px solid $gray
		&:hover
			background: $gray
			border: 4px solid $gray
	&.btn-hollow
		border: 4px solid $primaryColor
		color: $primaryColor
		background: none
		&:hover
			background: $primaryColor
			color: white
			text-decoration: none
		&.active, &:active
			outline: 0
		&.disabled, &[disabled]
			opacity: 0.4
			&:hover
				border: 4px solid #111
	&.btn-small
		padding: 10px
		font-size: 12px
		max-width: 20em
		[class^="icon-"]
			margin-top: 0

button.btn
	*padding-top: 3px
	*padding-bottom: 3px



// Alerts
// ----------------------------------------------------------------------------

.alert
	position: fixed
	z-index: 1000
	top: 30px
	width: 75%
	left: 12.5%
	padding: 8px 35px 8px 14px
	margin-bottom: 20px
	color: $red
	background-color: white
	border: 2px solid $red
	border-radius: 10px
	h4
		margin: 0
	.close
		position: relative
		top: -2px
		right: -21px
		line-height: 20px
		
.alert-success
	color: $green
	background-color: white
	border-color: $green


// Labels abd Badges
// ----------------------------------------------------------------------------

.label, .badge
	font-size: 11.844px
	font-weight: bold
	line-height: 14px
	color: white
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	white-space: nowrap
	vertical-align: baseline
	background-color: $grayDark

.label
	padding: 1px 4px 2px
	border-radius: 3px

.badge
	padding: 1px 9px 2px
	border-radius: 9px

a
	&.label:hover, &.badge:hover
		color: #ffffff
		text-decoration: none
		cursor: pointer

.label-important, .badge-important
	background-color: $red

.label-important[href], .badge-important[href]
	background-color: #953b39

.label-success, .badge-success
	background-color: $green

.label-success[href], .badge-success[href]
	background-color: #356635

.btn
	.label, .badge
		position: relative
		top: -1px

.btn-mini
	.label, .badge
		top: 0

// Drupal Override
// ----------------------------------------------------------------------------

.element-invisible
	display: none


// Loading GIFs
// ----------------------------------------------------------------------------

#loader
	position: fixed
	z-index: 2000
	top: 0
	bottom: 0
	left: 0
	right: 0
	height: 100%
	width: 100%
	background: $loaderBG

.btn-load-wrap
	display: inline-block
	position: relative

.loading
	background: url(../img/loading.gif) no-repeat center center
