//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------

#name-splash
	position: absolute
	top: 50%
	left: 50%
	margin-left: -201px
	margin-top: -23px
	h1
		margin: 0
		padding: 0

#header
	padding: 35px

.item
	width: 320px
	margin: 10px
	float: left
	position: relative
	.item-title
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0 
		background: rgba(0,0,0,0.7)
		color: white
		text-align: center
		+opacity(0)
		&:hover
			+opacity(1)
	img
		width: 100%

.work-slider-wrap
	margin: 40px 4%