//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------

#loader
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: white
	#name-splash
		height: 100%
		width: 100%
		background-image: url(/sites/all/themes/clim/images/viviane_loading.gif)
		background-position: center
		background-color: white
		background-repeat: no-repeat

#header
	position: fixed
	top: 0
	left: 0
	right: 0
	background: white
	text-align: center
	border-bottom: 1px solid #ddd
	z-index: 1000
	h5
		margin: 0
	#logo
		padding: 10px 0
		a:hover
			text-decoration: none

#wrapper
	padding: 36px 0 50px 0

#intro
	width: 90%
	max-width: 800px
	margin: 75px auto
	#statement
		font-size: 19px
		font-style: italic

.front .container-fluid
	padding: 0 10px

#iso-container
	margin: 0 0 100px 0

.item
	float: left
	position: relative
	&.sm
		width: 24.9%
	&.lg
		width: 49.9%
	&:hover
		.item-inner .title-wrap
			+opacity(1)
	.item-inner
		margin: 5px
		.title-wrap
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0 
			margin: 5px
			background: rgba(0,0,0,0.6)
			//background: rgba(56, 55, 51, 0.8)
			*background: #383733
			+opacity(0)
			.item-title
				color: white
				position: absolute
				width: 100%
				top: 50%
				margin-top: -15px
				text-align: center
				h6
					margin-bottom: 5px
			.item-type
				font-size: 14px
				font-style: italic
				.types
					margin: 0 5px
		img
			width: 100%

.work-wrap
	width: 90%
	margin: 7em auto 3em auto
	.work-header
		margin-bottom: 30px
		overflow: hidden
		.work-date
			margin-bottom: 1rem
		.work-type
			font-style: italic
			margin-bottom: 1rem
			.types
				margin-right: 12px
		.work-body
			max-width: 600px
			padding-top: 1rem
			border-top: 1px solid #999
	.work-img
		margin-bottom: 10px
		img
			width: 100%

.list-container
	margin: 75px 0
	.list-item
		position: relative
		padding: 20px 2% 15px 2%
		height: 51px
		width: 100%
		&:hover
			background: rgba(0,0,0,0.1)
		.list-yr
			float: left
			width: 90px
			margin-right: 1%
		.list-title
			float: left
		.list-type
			font-size: 14px
			font-style: italic
			.types
				margin-right: 10px
		.list-img
			position: absolute
			right: 20px
			top: -70px
		h6
			margin-bottom: 5px


.footer
	width: 100%
	padding: 8%
	background: $black
	color: white
	text-align: center
	a
		color: white
		&:hover
			text-decoration: none
	.year
		margin-top: 1.65em

.btn, input[type="submit"]
	padding: 15px 60px
	margin-top: 20px
	background: $black
	color: white
	font-family: $headingsFontFamily
	font-weight: 500
	font-size: 11px
	letter-spacing: 0.3em
	text-transform: uppercase
	border: none
	+border-radius(2px)
	&:hover
		background: $purple
	&:active
		background: pink

input
	padding: 15px
	border: none
	margin: 5px 0

.page-user
	label,
	.description
		display: none

iframe body.cke_show_borders
	background: white
