//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------

#name-splash
	position: absolute
	top: 50%
	left: 50%
	margin-left: -201px
	margin-top: -23px
	h1
		margin: 0
		padding: 0

.item
	margin: 5px