// Colors
// ----------------------------------------------------------------------------
$black: #111
$bgGray: #ecebe7
//$bgGray: #bababa
$gray: #D6D2CF
$grayDark: #757682
$grayLight: #EDECE6
$lightBlue: #E4F6F4
$green: #03B19D
$red: #FF325D
$cream: #F6F7ED
$lightBrown: #d0c7c2
$yellow: #D7FF23
$purple: #512993
$pink: #FCF0F1


// Base
// ----------------------------------------------------------------------------
$primaryColor: $purple
$bodyBackground: $bgGray
$textColor: $black
$hrColor: $red
$borderColor: $grayDark

$linkColor: $black !default
$linkColorHover: $gray !default

$loaderBG: $bgGray

// Header
$headerHeight: 45px

// Typography
// ----------------------------------------------------------------------------
$weight: normal
$line-height: 1.4
$line-height: 1.65
$font-size: 100%
//$font-size: 112.5%
$fontWeight: 400
$font-family: "adobe-caslon-pro", serif 
$font-family-sans: sans-serif
$font-properties: $weight #{$font-size}/#{$line-height} $font-family
//$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$baseFontFamily: "Gotham Book", sans-serif
$baseFontFamily: $baseFontFamily

$altFontFamily: Georgia, "Times New Roman", Times, serif 
$monospaceFontFamily: "Courier New", monospace

$headingsFontFamily: "brandon-grotesque", sans-serif
$headingsFontWeight: 500 !default
$headingsColor: $black
