// Colors
// ----------------------------------------------------------------------------
$black: #111
$bgGray: #ecebe7
//$bgGray: #bababa
$brown: #857C75
$gray: #D6D2CF
$grayDark: #757682
$grayLight: #EDECE6
$lightBlue: #E4F6F4
$green: #03B19D
$red: #FF325D
$cream: #F6F7ED
$lightBrown: #d0c7c2
$yellow: #D7FF23
$purple: #512993
$pink: #FCF0F1


// Base
// ----------------------------------------------------------------------------
$primaryColor: $purple
$bodyBackground: $bgGray
$textColor: $black
$hrColor: $red
$borderColor: $grayDark

$linkColor: $black !default
$linkColorHover: $gray !default

$loaderBG: $bgGray

// Header
$headerHeight: 45px

// Typography
// ----------------------------------------------------------------------------

$fontWeight: 400
$fontFamily: "adobe-caslon-pro", serif 

$altFontFamily: Georgia, "Times New Roman", Times, serif 
$monospaceFontFamily: "Courier New", monospace

$headingsFontFamily: "brandon-grotesque", sans-serif
$headingsFontWeight: 500 !default
$headingsColor: $black
